
*{
    font-family: 'Raleway', sans-serif;
}

.topRightIcon{
    position: fixed;
    top: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: .5rem;
    img,svg{
        width: 35px;
        height: 35px;
        border :solid 2px transparent;
    }
    img,svg,a{
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }
}


.glass{
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.01);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.05);

  &.variant{
    background: rgba(255, 255, 255, 0.03);
  }
  

   &.hoverable{
    &:hover{
      border: 1px solid rgba(255, 255, 255, 0.2);
      background: rgba(255, 255, 255, 0.03);
      
    }
   }

   input{
    border: none;
    border-radius: 1rem;
    padding: .5rem .8rem;
    font-size: 1rem;
    outline: none;
    border: 0;
    background-color: rgba(255, 255, 255, 0.04);
    color: $text-color;
   }
}


section{
    margin: 0;
    margin-top: 2rem;
    width: fit-content;
    background-color: $background-alternative;
    width: 80%;
    max-width: 650px;
    border-radius: 30px;
    padding: 1rem;
    input{
      border: none;
      border-radius: 1rem;
      padding: .5rem .8rem;
      font-size: 1rem;
      outline: none;
      border: 0;
      background-color: $background-alternative2;
      color: $text-color;
    }
  
    &.dangerZone{
      h2{
        color: $red;
        font-weight: bold;
        &::after, &::before{
          background-color: $red;
        }
      }
    }
    
    h2{
      position: relative;
      $line-size:200px;
      padding: 0;
      margin: 0;
  
      &::after, &::before{
        content: "";
        position: absolute;
        top:1rem;
        right: -$line-size;
        display: block;
        width: $line-size;
        height: 2px;
        background-color: $secondary;
        margin: 0 -1rem;
      }
      &::before{
        right: 0;
        left:-$line-size;
        margin: 0 -1rem;
      }
    }
  }
  
a {
    color: $highlight;
    text-decoration: underline;
}