//Normalize css
@import "@/styles/normalize.scss";
@import url('https://fonts.googleapis.com/css2?family=Sarpanch:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,800;0,900;1,200;1,400;1,800;1,900&display=swap');

//-------------------------------
//-----------VARIABLES-----------
//-------------------------------

$background:#16161a;
$background-alternative:#222227;
$background-alternative2:#2d2d33;
$headline:#fffffe;  
//$button:#7f5af0;
$button:#2cb67d;
$button-txt:#fffffe;
$text-color:#94a1b2;

$highlight:#7f5af0;
$secondary:#72757e;
$tertiary:#2cb67d;
$black:#010101;

$red:#df3434;
$dark-red :#64141ecc;
$orange: #FCA311;
$grey: #E5E5E5;
$pink:#ff00ff;


$dark:#22223b;
$dark2: rgb(34, 34, 59,0.85);
$blue:#4a4e69;
$better-blue: #273494;
$marron:#9a8c98;
$marronlight:#c9ada7;
$white:#f1f2f6;
$green:#37a823;

$formbgcolor: $grey;

//gradient from #ff00ff to 00ffff
$gradient: linear-gradient(90deg, #ff00ff 0%, #00ffff 100%);

//---------------------------------
//-----------BREAKPOINTS-----------
//---------------------------------

@mixin width-over($_min-width) {
    @media screen and (min-width: $_min-width) {
        &{ @content; }
    }
}

@mixin width-under($_max-width) {
    @media screen and (max-width: $_max-width) {
        &{ @content; }
    }
}


//----------------------------------
//-----------GLOBAL STYLE-----------
//----------------------------------

*{
    font-family: 'Raleway', sans-serif;
}

.topRightIcon{
    position: fixed;
    top: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: .5rem;
    img,svg{
        width: 35px;
        height: 35px;
        border :solid 2px transparent;
    }
    img,svg,a{
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }
}

.underline{
    text-decoration: underline;
    cursor: pointer;
}

section{
    width: 90%;
    max-width: 1300px;
    margin: 0;
    padding: 0;

    h2{
      font-weight: normal;
    }
  }

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
