//general
$background:#16161a;
$background-alternative:#222227;
$background-alternative2:#2d2d33;
$text-color:#94a1b2;

$red:#df3434;
$white:#f1f2f6;
$black:#010101;
$yellow:#f1c40f;


//button
$button:#2cb67d;
$button-txt:#fffffe;

//illustrations
$highlight:#2cb67d;
$secondary:#72757e;
$tertiary:#7f5af0;
